body{
    background-color: black;
}

div{
    box-sizing: border-box;
}
    
    
div.container{
    width: 600px;
    margin: auto;
    padding: 20px;
}

div.post{
    background-color: white;
    margin-top: 30px;
}

div.post img{
    width: 100%;
}

p{
    font-family: Roboto;
    padding: 20px;
    padding-top: 2px;
    text-align: justify;
}

.icon{
    display: flex;
    justify-content:left;
    font-size: 30px;
    padding-left: 15px;
}

.b{
   padding-left: 400px;
}


.div1{
    font-size: 50px;
    padding-left: 20px;
    padding-top: 30px;
}

.div2{
    display: inline;
    font-family: Roboto;
    padding-left: 50px;
}

.div3{
    padding-left: 320px;
    padding-top: 40px;
    display:inline;
}

.post-header{
    display: flex;    
}

